Se procede a realizar la carga de librerías a utilizar

In [229]:
import pandas as pd
import numpy as np
import webbrowser as wb
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns 

from dateutil.parser import parse
from ydata_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
from pycaret.regression import *

# 1. Análisis preliminar

Se procede a realizar la carga del dataset de test para House pricing.

In [235]:
dataset = pd.read_csv("train.csv", sep = ",")

Se utilizará la función **ProfileReport** para obtener un reporte con análisis preliminar exhaustivo del dataset.

In [113]:
profile = ProfileReport(dataset, title = "Reporte preliminar")
#profile.to_notebook_iframe() # Se procede a excluir la visualización en el archivo debido a errores en visualización. En su lugar se procede con la exportación a un archivo HTML.
profile.to_file("reporte.html")
wb.open_new_tab('reporte.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

True

Se realiza la separación del dataset entre train y test

In [231]:
data_train = dataset.sample(frac=0.8, random_state=2023) 
data_test = dataset.drop(data_train.index) 
data_train.shape, data_test.shape

((1168, 81), (292, 81))

Se realiza la configuración del modelo

In [244]:
df = setup(data=data_train,
                target = 'SalePrice', # Variable objetivo
                session_id = 2023, # Asegurando la reproducibilidad
                numeric_imputation= 'knn', # Imputación numérica utilizando el acercamiento del KNN (K-Nearest Neighbor)
                max_encoding_ohe = 3, # Imputación categórica por One Hot Encoding
                categorical_imputation = 'mode', # Imputación categórica por Frecuency Encoding       
                transformation = True, # Se realiza la transformación de datos         
                outliers_threshold = 0.05, # Intervalo de parámetros que se descartarán para los outliers
                normalize = True, # Se acepta la normalización
                normalize_method = 'minmax', # Selección del métrodo de normalización,
                n_jobs = None, # Para poder realizar trabajos en paralelo
                log_experiment = True, # Guardar el log del experimento via mlflow.
                experiment_name = 'SalePrice_house') # Nombre del experimento

Se seleccionan los tres mejores modelos para el análisis basados en los resultados del RMSE. Se excluyen del cálculo la regresión lineal (*lr*) y Least Angle Regression (*lar*) debido a que sus resultados ___________________ .

In [242]:
best = compare_models(sort='RMSE', exclude=['lar', 'lr'], n_select=3)

Se visualizan cuales son los modelos elegidos

In [249]:
print(best)

[GradientBoostingRegressor(random_state=2023), ExtraTreesRegressor(random_state=2023), LGBMRegressor(random_state=2023)]

In [250]:
gbr = create_model('gbr')

In [251]:
lightgbm = create_model('lightgbm')

In [252]:
et = create_model('et')